@model Asp.NetCoreMVCApp.Models.DogViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>@Model.Name likes to poop on the neighbors lawn, for the last @Model.Age years.</h4>
<h4>@Model.Age years of free fertilizer from @Model.Name</h4>
<h1>Added new View to HelloWorld Controller</h1>